
tickets\.Android/bin/Debug/

tickets\.Android/obj/Debug/81/

tickets\.iOS/obj/

tickets/obj/Debug/netstandard2\.0/

*.htm

tickets\.Android/obj/

\.vs/tickets/v15/Server/sqlite3/

\.vs/tickets/v15/

tickets\.UITests/obj/Debug/

tickets/bin/Debug/netstandard2\.0/

tickets/obj/

tickets\.UITests/obj/
